<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/create.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>CD 1250 - Vem  Ser Feliz</title>
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    
    <div class="container">
        
        <form class="form-login" action="/user/update" method="POST">
            <p>Alterar Usuario</p>
            
            <span class="material-icons icon-user">
                account_circle
            </span>
            <input value="<%= user.login %>" class="inp inp-login-user" type="text" name="login" id="login">
            <hr>
            
            <span class="material-icons icon-name">
                assignment_ind
            </span>
            <input value="<%= user.name %>"  class="inp inp-login-name" type="text" name="name" id="name">
            <hr>
            
            <span class="material-icons icon-lock">
                lock
            </span>
            <input required placeholder="Senha" class="inp inp-login-password" type="password" name="password" id="password">
            
            <input type="hidden" name="id" value="<%= user.id %>">
            <input type='submit' value="Alterar" class="btn-login">
            
        </form>
        
    </div>
    
</body>
</html>