<%- include ('partials/head') %>
<body>
   <%- include ('partials/header.ejs') %>
    <div class="content">
        
<!--         
        <form action="/login" method="POST">
            <label for="">Usuario</label>
            <input type="text" name="user">
            <label for="">Senha</label>
            <input type="password" name="password">
        </form> -->
        
    </div>
</body>
</html>