<header class="main-header fix-content">
    <div class="main-header-div-logo">
        <a href="/" class="main-header-logo-link">
            <img class="main-header-logo-img" src="img/logo-barra-magalu.png" alt="logo magalu">
        </a>
    </div>
    <div class="main-header-div-title">
        <h1>Controle De Coletores Magalus CD - 1250</h1>
    </div>
    
</header>