<%- include ('partials/head') %>
<body>
    <%- include ('partials/header.ejs') %>
    <div class="container fix-content" >
        
        <form class="form-login" action="/login" method="POST">
            <p>Login</p>
            <input class="form-login-user" type="text" name="user" id="user">
            
            <input class="form-login-password" type="password" name="password" id="password">

            <input type='submit' value="Login" id="btn-login">
        </form>
        <div class="main-div-coletor">
            <img src="img/2.png" alt="imagem coletor zebra">
        </div>
        
    </div>
</body>
</html>