<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>CD 1250 - Vem  Ser Feliz</title>
</head>
<body>
    <header  class="barra-logo">
        <div> 
            <img src="img/logo-barra-magalu.png" alt="logo magalu">
        </div>
    </header>
    <div class="container">
        
        
        
        
    </div>
</body>
</html>