.container{
    padding-top: 3.5%;
}

.main-div-coletor{
    float: right;
    width: 50%;
    box-sizing: border-box;
    
}

.inp{
    display: block;
    border: none;
    outline: none;
    padding: 15px 10px 15px 50px;
    box-sizing: border-box;

    font-size: 18px;
    color: #8195a7;
    letter-spacing: 2px;
    font-weight: bolder;
}

.inp::placeholder{
    font-size: 18px;
    color: #b8c0c7;
    letter-spacing: 2px;
    font-weight: bolder;
}

.form-login p{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: #b8c0c7;
    letter-spacing: 2px;
}

hr{
    width: 90%;
    border: 1px solid #EDEDEF;
    background-color: #EDEDEF;
    border-radius: 1px;
    margin: 0 auto;
}

.main-div-inp{
    background-color: white;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
}

.main-div-form{
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.form-login{
    width: 50%;
    margin: 150px auto 0 auto;
}

.main-div-coletor img{
    max-width: 100%;
    display: block;
}

.btn-login{
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #b8c0c7;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 2px;
    outline: none;
}

.btn-login:hover{
    background-color:#a3afb9;
}

.icon-user{
    color: #b8c0c7;
    position: absolute;
    top: 12px;
    left: 15px;
}

.icon-lock{
    color: #b8c0c7;
    position: absolute;
    top: 62px;
    left: 15px;
}