body{
    font-family: 'Roboto', sans-serif;
    background-color: #EDEDEF;
}

/* Fix de correção do float */

.fix-content::after, .fix-content::before{
    clear: both;
    content: '';
    display: block;    
}


/* Header */

.main-header{
    background-color: #308AFF;
    box-sizing: border-box;
}

.main-header-div-logo{
    width: 20%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.main-header-div-title{
    width: 80%;
    float: right;
    box-sizing: border-box;
}

.main-header-div-title h1{
    margin: 0;
    line-height: 76px;
    text-align: center;
    color: white;
}

.main-header-logo-img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.main-header-logo-link{
    display: inline-block;
    
}


/* Pagina principal e form */

.container{ 
    width: 80%;
    margin: 0 auto;
}



